{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans entry.job_title %}{% endblock%}

{% block content %}

{% if entry %}
<p style="color: red; margin: 0px;">**Please note that this is a preview. It will be publicly available as soon as it is approved.**</p>
{% include 'jobs/entry_format_preview.html' %}
{% endif %}

{% endblock %}

{% block meta %}
<meta name="description" content="{{entry.meta_description}}" />
<meta name="keywords" content="{{entry.meta_keywords}}" />
{% if entry.author.get_full_name %}<meta name="author" content="{{entry.author.get_full_name|title}}">{% else %}<meta name="author" content="{{entry.author}}">{% endif %}
{% endblock%}

