{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans entry.job_title %}{% endblock%}

{% block content %}

{% if entry %}
{% include 'jobs/entry_format.html' %}
{% endif %}

{% endblock %}

{% block meta %}
<link rel="canonical" href="{{show_abs_uri}}">
<meta name="description" content="{{entry.body_html|striptags|truncatewords:'50'}}" />
<meta name="keywords" content="{{entry.job_title|title}}" />
{% if entry.author.get_full_name %}<meta name="author" content="{{entry.author.get_full_name|title}}">{% else %}<meta name="author" content="{{entry.author}}">{% endif %}
{% endblock%}

